.slide {
    display: flex;
    justify-content: center;
    padding: 0px 0px 100px 0;

    .container {
        width: 1400px;

        .carousel-prev, .carousel-next {
            width: 50px;
            height: 50px;
            background-color: rgb(220, 215, 215);
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}